/Primalidad/dist/
/Tad_2019/nbproject/private/
/Recursividad/nbproject/private/
/Recursividad/build/
/TAD2019/nbproject/private/
/AbstraccionInterfaces/nbproject/private/
/TAD2019/build/
/EstructurasDeDatosCursoEDD/nbproject/private/
/CLineales/nbproject/private/
/EstructurasDeDatosCursoEDD/build/
/TAD2019_ListaDoblEnlace/nbproject/private/
/TAD2019_ListaDoblEnlace/build/
/ListaEnlazadaParte2/nbproject/private/
/ListaEnlazadaParte2/build/
/TAD2019_ListaDoblEnlace/dist/
/tp7_ej7_perfumeDeMujer/nbproject/private/
/tp7_ej7_perfumeDeMujer/build/
/Grafos/contenedoresnolinealesGrafos/nbproject/private/
/GrafosFer/nbproject/private/
/InversionControlPrimerosPasos/nbproject/private/
/InversionControlPrimerosPasos/build/
/InversionControlPrimerosPasos/dist/
/GrafosFer/build/
/TweeterBot4J/nbproject/private/
/TweeterBot4J/build/
/TweeterBot4J/dist/