/Primalidad/dist/
/Tad_2019/nbproject/private/
/Recursividad/nbproject/private/
/Recursividad/build/
/TAD2019/nbproject/private/
/AbstraccionInterfaces/nbproject/private/
/TAD2019/build/
/EstructurasDeDatosCursoEDD/nbproject/private/
/CLineales/nbproject/private/
/EstructurasDeDatosCursoEDD/build/
/TAD2019_ListaDoblEnlace/nbproject/private/
/TAD2019_ListaDoblEnlace/build/
/ListaEnlazadaParte2/nbproject/private/
/ListaEnlazadaParte2/build/